@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter), Arial, Helvetica, sans-serif;
	--font-mono: var(--font-jetbrains-mono), monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-x {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-gradient-text {
	background: linear-gradient(270deg, #127cdf, #0bdada, #155da1);
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: gradient-x 6s ease infinite;
}

@keyframes gradient-border {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animated-border {
	background: linear-gradient(270deg, #22d3ee, #6366f1, #0ea5e9);
	background-size: 300% 300%;
	padding: 5px; /* borda */
	border-radius: 9999px;
	animation: gradient-border 5s ease infinite;
}

@keyframes gradient-move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animated-button {
	background: linear-gradient(270deg, #127cdf, #0bdada, #155da1);
	background-size: 300% 300%;
	animation: gradient-move 6s ease infinite;
}

@keyframes gradient-hover {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hover-gradient-text {
	transition: color 0.3s ease;
}

.hover-gradient-text:hover {
	background: linear-gradient(270deg, #22d3ee, #0ea5e9, #0369a1); /* cyan → sky → blue */
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: gradient-hover 3s ease infinite;
}

/* Efeito fade-in com animação de entrada */
@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-up {
	animation: fade-in-up 1.5s ease-out both;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-gradient {
	background-size: 300% 300%;
	animation: gradient 6s ease infinite;
}
